<%- include("partials/header") %>

<div class="jumbotron text-center">
<div class="container">
    <div class="fas fa-key fa-5x mt-5">
        <h1 class="display-3 header">You've Discovered my Secrets</h1>
        <p class="secret-text">Jack Bauer is my hero.</p>
        <hr>
        <a class="btn btn-light " href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark" href="/submit" role="button">Submit a secret</a>
    </div>
</div>
</div>

<%- include("partials/footer") %>